:root {
  --black: #000000;
  --grey: #EEEEEE;
  --red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --white: #FFFFFF;
  --grey-light: #666666;
  --grey-social: #E1E1E1;
  --black-input: #283136;
  --button-grey:#DBDBDB;
}

body {
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  min-height: 100%; 
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title__hidden {
  font-size: 0px;
  display: none;
}

.container {
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns:  1fr;
  align-content: center;
  background-color: var(--grey);
  padding: 50px
}

.header__navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.header__list {
  display: flex;
  justify-content: space-around;
  padding: 0 25%;
  margin: 0;
  align-items: center;
}

.header__list li a,
.header__basket {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--black);
  display: flex;
  align-items: center;
}

.header__list li a:hover,
.header__list li a:focus,
.header__basket:hover,
.header__basket:focus {
  color: var(--red);
}

.header__list li a:active {
  padding-bottom: 12px;
  border-bottom: 2px solid var(--red);
} 

.slider {
  background-color: var(--grey);
}

.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.slider p {
  font-size: 16px;
  line-height: 24px;
}
.slider a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 10px;
}

.slider__button {
  display: flex;
  justify-content: center;
}

.slider__item.item2,
.slider__item.item3 {
  display: none;
}

.slider__item {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.slider {
  margin-bottom: 80px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  margin-bottom: 40px;
  grid-column-gap: 100px;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 80px;
  
}

.product__img {
  margin-bottom: 25px;
}

.product h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 0;
}

.product p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 0;
}

.product a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 10px;
  display: block;
  width: 100px;
  text-align: center;
}

.product .product__link-green {
  background-color: var(--green);
}

.product .product__link-yellow {
  background-color: var(--yellow);
}

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
  margin-bottom: 75px;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 80px;
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  margin-top: 0;
}

.about__info {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  margin-top: 0;
}

.about__header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 31px;
  margin-top: 0;
}

.about__img {
margin-bottom: 37px;
margin-top: 0;
}

.about__list {
  font-size: 16px;
  line-height: 24px;
}

.about table {
  margin-bottom: 11px;
  margin-top: 0;
}

table span {
  font-size: 45px;
  line-height: 64px;
}

table span sup {
  font-size: 26px;
  line-height: 40px;
}

table p {
  font-size: 16px;
  line-height: 18px;
}

.companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 80px;
  margin-bottom: 75px;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 20px;
}

.companies__block img {
  opacity: 0.2;
  margin-bottom: 46px;
  margin-top: 0;
}

.companies__block a {
  margin-bottom: 50px;
  margin-top: 0;
}

.companies__block:hover img {
  opacity: 1;
}

.contact__block h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact__block p, .contact__block a {
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-light);
}

.contact__block button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 10px;
  border: none;
}

.footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 0;
}

.footer__block-left {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin-right: 140px;
  margin-left: 0px;

}

.footer a {
  background-color: var(--grey-social);
  width: 81px;
  height: 81px;
  display:flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer a img {
  max-width: 25px;
  height: 15px;
}

.footer h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
}

.title {
  background-color: var(--grey);
  padding: 50px;
}

.title__page {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 auto;
  width: max-content;
}

.content {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.content__block :left {
  float: left;
}

.content__block :right {
  float: right;
}

.content legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter__grid {
  font-size: 16px;
  line-height: 19px;
  color: var(--black-radio)  
}

.filter__grid input {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.filter__grid input:checked + label::before { 
  background-image: url("../img/inputs/radio-on.svg");
  opacity: 1;
}

.filter__grid label {
  position: relative; 
  padding-left: 30px;
  display: block;
  margin-bottom: 10px;
}

.filter__grid label::before {
  content:'';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  background-image: url("../img/inputs/radio.svg");
  opacity: 0.3;
}


.filter__features {
  font-size: 16px;
  line-height: 19px;
  color: var(--black-radio)
}

.filter__features input {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.filter__features input:checked + label::before { 
  background-image: url("../img/inputs/features-on.svg");
  opacity: 1;
  }

.filter__features label::before {
    content:'';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/inputs/features.svg");
    opacity: 0.3;
    background-repeat: no-repeat;
  }

.filter__features label {
  position: relative; 
  padding-left: 30px;
  display: block;
  margin-bottom: 10px;
}

.filter__button button{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--grey);
  padding: 10px;
  border: none;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  row-gap: 30px;
  column-gap: 40px;
}

.sort__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  10px 0;
}

.sort__block span {
  flex: 0 0 40%;
}

.sort__block button {
  font-size: 0;
}

.sort__block ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 40%;
}

.sort__block legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
}

.filter__grid {
  display: flex;
  flex-direction: column;
}

.filter__grid label {
  margin-left: 10px;
}

.filter__features {
  display: flex;
  flex-direction: column;
}

.sort__block .active {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  opacity: 1;
}

.sort__block a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.pagination__block {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pagination__block button {
  border: none;
  background-color: var(--grey);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  margin-right: 10px;
}

.pagination__block button.active {
  border: 3px solid var(--button-grey);
  background-color: var(--white);
}

.project__title{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.project__info {
  font-size: 16px;
  line-height: 18px;
}

.project__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 10px 20px;
  border: none;
}

.project__hidden {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--grey);
}

.project__title {
  margin-top: 26px;
  margin-bottom: 0;
}

.project__info {
  text-align: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 10px;
}

.block__project-card{
  position: relative;

}

.project__hidden {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 100%;
  height: 39%;
}












