:root {
  --black: #000000;
  --grey: #EEEEEE;
  --red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --white: #FFFFFF;
  --grey-light: #666666;
  --grey-social: #E1E1E1;
  --black-input: #283136;
  --button-grey:#DBDBDB;
  --modal-input: #D7DCDE;
}

body {
  min-width: 1160px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  min-height: 100%; 
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title__hidden {
  font-size: 0px;
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.container.footer {
  height: max-content;
}

header {
  display: grid;
  grid-template-columns:  1fr;
  align-content: center;
  background-color: var(--grey);
  padding: 50px
}

.header__navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}
.header__basket {
  position: relative;
  width: 115px;
  text-transform: uppercase;
  justify-content: space-between;
}

.header__basket::before {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 15px;
  opacity: 0.2;
  height: 15px;
  background-image: url("../img/basket-img.svg");
}


.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 201px;
  padding-right: 245px;
  padding-top: 5px;
  margin: 0;
  text-transform: uppercase;
  align-items: center;
}

.header__list li a,
.header__basket {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--black);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__list li a::after {
  content: '';
  display: none;
  height: 2px;
  width: 100%;
  background-color: var(--red);
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__list li a:hover,
.header__list li a:focus,
.header__basket:hover,
.header__basket:focus {
  color: var(--red);
}

 .header__basket:hover .header__basket::before {
  opacity: 1;
}

.header__list li a:active {
  color: var(--black);
}


.header__list li a:active::after {
  display: block;
 
} 

.slider {
  background-color: var(--grey);
  position: relative;
}

.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 50px;
  margin-bottom: 30px;
  margin-top: 25px;
}
.slider p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  padding-right: 70px;
}
.slider a {
  font-weight: 500;
  font-size: 16px;
  width: 207px;
  text-align: center;
  display: block;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 16px;
  border-radius: 5px;
}

.slider__block.right {
  width: 760px;
  height: 370px;
}

.slider__block img {
  position: absolute;
  bottom: 0;
  right: 3px;
}

.slider__button {
  display: flex;
  position: absolute;
  bottom: 94px;
  left: 536px;
  width: 88px;
  justify-content: space-between;
}

.slider__button button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--grey-light);
}



.slider__item.item2,
.slider__item.item3 {
  display: none;
}

.slider__item.active {
  display: grid;
}

.slider__item {
  display: grid;
  grid-template-columns: 520px 1fr;
  z-index: 20;
}

.slider {
  margin-bottom: 80px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  margin-bottom: 40px;
  grid-column-gap: 40px;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 80px;
  
}

.product__img {
  margin-bottom: 20px;
}

.product h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 0;
}

.product p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 0;
}

.product a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px ;
  color: var(--white);
  background-color: var(--red);
  padding: 17px;
  display: block;
  width: 125px;
  text-align: center;
}

.product .product__link-green {
  background-color: var(--green);
}

.product .product__link-yellow {
  background-color: var(--yellow);
}

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 60px;
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  margin-top: 33px;
}

.about__info {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  margin-top: 0;
}

.about__img {
  margin-bottom: 10px;
  margin-top: 0;
  }

.about__header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-top: 18px;
}
.about__block.right .about__header  {
  padding-left: 17px;
}

.about__list {
  font-size: 16px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 107px;
  padding-left: 0;
  margin-top: 28px;
}

.about__list li {
  position: relative;
  padding-left: 35px;
}

.about__list li::before {
  content: '';
  background-color: var(--red);
  position: absolute;
  left: 0;
  top: 45%;
  height: 2px;
  width: 24px;
}

.about__accuracy{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
}

.about__accuracy-interest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.about__accuracy-interest sup{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.about__accuracy-accuracy{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
  line-height: 18px;
}

.about__accuracy-accuracy p {
  margin-top: 12px;
}

.companies {
  margin-bottom: 77px;
  border-bottom: 2px solid var(--grey);
  height: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.companies__block img {
  opacity: 0.2;
}
.companies__block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.companies__block a {
  display: block;
  width: max-content;
  height: max-content;
}

.companies__block:hover img {
  opacity: 1;
}

.contact {
  position: relative;
  overflow: hidden;
  height: 418px;
  width:100%;
  margin-bottom: 60px;
}

.contact__map {
  position:absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.contact__map iframe {
  z-index: 2;
  width: 100%;
  border: none;
}

.contact__map img {
  width: 100%;
}

.contact__block {
  position: absolute;
  width: 256px;
  height: 243px;
  z-index: 3;
  top: 55px;
  left: 0px;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  padding: 31px;
  padding-left: 50px;
  padding-right: 13px;
}


.contact__title {
  width: 193px;
  height: 30px;
  overflow: hidden;
  margin-bottom: 0;
}

.contact__adress {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact__tel {
  margin-top: 0;
  margin-bottom: 40px;
}

.contact__block h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact__block p, .contact__block a {
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-light);
}

.contact__block button {
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 219px;
  height: 50px;
  display: block;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: pre;
  max-height: 50px;
}

.contact__point {
  position: absolute;
  z-index: 3;
  right: 25%;
  top: 25%;
  width: 231px;
  height: 190px;
  right: 21%;
  top: 20%;
  font-size: 0;
  z-index: 1  ;
  background-image: url("../img/map/map-point.png");
}

.footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 0;
  margin-bottom: 30px;
}

.footer__block-left {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin-right: 140px;
  margin-left: 0px;
}

.footer a {
  background-color: var(--grey-social);
  width: 81px;
  height: 81px;
  display:flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer a img {
  max-width: 25px;
  height: 15px;
}

.footer h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 11px;
}

.footer p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

.title {
  background-color: var(--grey);
  padding: 50px;
  padding-top: 0;
  margin-bottom: 50px;
  padding-bottom: 88px;
}

.title__page {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 19px auto;
  width: max-content;
}

.content {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.content__block :left {
  float: left;
}

.content__block :right {
  float: right;
}

.content legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 4px;
  text-transform: uppercase;
}

.filter__grid {
  font-size: 16px;
  line-height: 19px;
  color: var(--black-radio);
  height: 140px;
  justify-content: space-between;
}

.filter__grid input {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.filter__grid input:checked + label::before { 
  background-image: url("../img/inputs/radio-on.svg");
  opacity: 1;
}

.filter__grid label {
  position: relative; 
  padding-left: 40px;
  display: block;
  margin-left: 0;
  padding-top: 10px;
  padding-left: 35px;
}

.filter__grid div {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.filter__grid label::before {
  content:'';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  background-image: url("../img/inputs/radio.svg");
  opacity: 0.3;
}


.filter__features {
  font-size: 17px;
  line-height: 30px;
  color: var(--black-radio);
  margin-top: 36px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 225px;
  margin-bottom: 30px;
}

.filter__features input {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.filter__features input:checked + label::before { 
  background-image: url("../img/inputs/features-on.svg");
  opacity: 1;
}

.filter__features label {
  position: relative; 
  padding-left: 35px;
  display: block;
  margin-bottom: 10px;
}

.filter__features label::before {
  content:'';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  background-image: url("../img/inputs/features.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
}


.filter__button button{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--grey);
  padding: 10px;
  border: none;
  display: block;
  width: 260px;
  border-radius: 5px;
  padding: 17px 89px;
}

.sort__block {
  display: flex;
  align-items: center;
  padding:  6px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.sort__block button {
  font-size: 0;
  width: 10px;  
  height: 10px;
  border: none;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-image: url("../img/arow/icon-arow.svg");
}

.sort__block button:last-child {
 transform: rotate(180deg);
 opacity: 0.2;
}

.sort__block a:hover,
.sort__block button:hover {
  opacity: 0.6;
}

.sort__buttons {
  display: flex;
  width: 30px;
  justify-content: space-between;
  align-items: center;
}


.sort__block ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 275px;
  margin-right: 45px;
}

.sort__block span {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-right: 266px;
}



fieldset {
  border: none;
  padding-left: 0;
  margin-left: 0;
}

.filter label {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.filter__grid {
  display: flex;
  flex-direction: column;
}

.sort__block .active {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  opacity: 1;
}

.sort__block a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  color: var(--black);
}

.pagination__block {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  padding-top: 15px;
}

.pagination__block button {
  border: none;
  background-color: var(--grey);
  font-family: "Roboto";
  font-weight: 500;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-transform: uppercase;
}

.pagination__block .next {
  width: 260px;
}

.pagination__block button.active {
  border: 3px solid var(--button-grey);
  background-color: var(--white);
  border-radius: 5px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  row-gap: 65px;
  column-gap: 40px;
  margin-top: 80px;
  margin-bottom: 35px;
}

.project__title {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
  opacity: 1;
  width: 130px;
  height: 30px;
  overflow: hidden;
  margin-left: 115px;
  text-overflow: ellipsis;
  white-space: pre;
  max-height: 50px;
  text-transform: uppercase;

}

.project__title:active {
  color: var(--black);
  opacity: 0.3;
}

.project__title:hover {
  color: var(--red);
}


.project__info {
  display: block;
  font-size: 16px;
  line-height: 18px;
}

.project__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 18px 0px;
  border: none;
  width: 200px;
  height: 15px;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
}

.project__hidden {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--grey);
}

.project__title {
  margin-top: 25px;
  margin-bottom: 0;
}

.project__head {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: -40px;
}

.project__info {
  text-align: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 28px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  max-height: 50px;
}

.project__card {
  position: relative;
}

.project__hidden {
  position: absolute ;
  display: none;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 40%;
}

.project__card:hover {
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.project__card:hover .project__hidden {
  display: block;
  transition: 0.5s ease-in-out;
}
.project__card:hover .project__head {
  opacity: 1;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 44px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter__price {
  margin-bottom: 40px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.min-price input {
  margin-left: 10px;
  padding-left: 19px;
  width: 50px;
}

.max-price input {
  margin-left: 10px;
  margin-left: 9px;
  padding-left: 10px;
  width: 60px;
}

.modal__Layout {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal {
  background-color: white;
  opacity: 1;
  width: 760px;
  height: 440px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 65px;
  padding-bottom: 85px;
}
 
 .modal__product{
  position: fixed;
  z-index: 100;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.modal__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.modal h3 {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 0;
  margin-bottom: 0;
}

.close__button {
  font-size: 0;
  width: 21px;  
  height: 21px;
  border: none;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-image: url(../img/modal/modal-button.svg);
  opacity: 1;
}

.close__button.product {
  position: absolute;
  top: 92px;
  right: 520px;
  padding-bottom: 0;
}

.modal__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal__input {
  flex: 0 0 45%;
}

.modal label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.modal input {
  border: 2px solid #D7DCDE;
  padding-left: 16px;
  width: 338px;
  height: 50px;
  border-radius: 5px;
  color: var(--modal-input)
}

.modal .modal__input:first-child {
 margin-right: 40px;
}

.modal input::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.modal__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
}


.modal text::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.modal textarea {
  display: flex;
  border: 2px solid #D7DCDE;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  resize: none;
  border-radius: 5px;
  width: 720px;
  height: 118px;
  color: var(--modal-input)
}

.modal__button {
  width: 259px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--red);
  padding: 10px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}

.modal__Layout.active {
  display: block;
  animation: Bounce 1.5s ease-in-out;
}




@keyframes Bounce {
  0% {
    top: -150%;
  }
  48% {
    top: 0;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0;
  }
}